# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local
node_modules/

# Local logs & process IDs
*.log
*.pid
.next_dev.log

# Local Scratch html, SQL, & text dumps
*.html
*.txt
*.sql
db_setup.sql

# Local Visual Backups Subdirectory
visual_backups/

# Playwright testing report directories
playwright-report/
test-results/

# Unpackaged bug dumps
UI_bug_V2.md
